services:

  kafka:

    image: apache/kafka:latest

    container_name: kafka

    ports:

      - "9092:9092" # External access (Host)

    environment:

      # KRaft settings

      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093



      # Listeners

      # CONTROLLER: Internal (Kraft consensus)

      # PLAINTEXT: Internal (Docker network - for Kafdrop)

      # EXTERNAL: External (Host machine - for you)

      KAFKA_LISTENERS: CONTROLLER://:9093,PLAINTEXT://:9094,EXTERNAL://:9092

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9094,EXTERNAL://localhost:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER



      # General Performance/Dev Settings

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1



    volumes:

      - kafka-data:/var/lib/kafka/data

    healthcheck:

      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --list"]

      interval: 5s

      timeout: 10s

      retries: 5



  kafdrop:

    image: obsidiandynamics/kafdrop:latest

    container_name: kafdrop

    ports:

      - "9000:9000"

    environment:

      # Connects to the internal PLAINTEXT listener on port 9094

      KAFKA_BROKERCONNECT: kafka:9094

      JVM_OPTS: "-Xms32M -Xmx64M"

    depends_on:

      kafka:

        condition: service_healthy



volumes:

  kafka-data: